.multiplechoice {
	border-radius: 30px;
	border: 1.5px solid white;
	background-color: transparent;
	font-weight: normal;
	display: inline-block;
	cursor: pointer;
}

.confirmChoiceButton{
	align-self: center;
	font-size: 0.8em;
	padding: 0.5em 2em;
	color: white;
	background-color: #59A5DB;
	border-radius: 10px;
	border: 4px solid rgba(0, 0, 0, 0);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
.confirmChoiceButton:hover {
	background-color: #005A9C;
}

.alignCenter{
	align-self: center;
}

.bulletProgress{
	padding:  0 2em;
}

.scaleButton{
	width: 3em;
	margin: 0 .5em;
	text-align: center;
	padding: 0.5em;
}

#scaleNarration{
	font-size: x-large;
}