@charset "UTF-8";
html{
	scroll-behavior: smooth;
}
/* Body */
body {
	font-family: source-sans-pro, Tahoma, Verdana, sans-serif;
	background-color: black;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	color: #FFFFFF;
	font-size: larger;
	line-height: 1.5em;
}
/* Container */
.container {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	height: 100vh;
	background-color: black;
	min-height: 100vh;
	/*
	display: flex;
	flex-direction: column;*/
	overflow: hidden;
}
buffer {
	height: 2em;
}
body::-webkit-scrollbar {
	display: none;
}

body{
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* User Stats */
header {
    width: 100%;
    height: 10%;
    background-color: #000000;
    overflow-y: hidden;
    position: fixed;
    top: 0px;
    z-index: 1;
}
stats {
    float: right;
    width: 50%;
    text-align: right;
    margin-right: 25px;
    height: 100%;
	overflow-y: hidden;
}
header stats ul {
    list-style: none;
    float: right;
}
stats ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}


/* Hero Section */
section.hero{	
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-content: flex-end;
	height: 100vh;
	padding:  0 3em;
}
.align-top{
	height: 100px;
	flex: 4 1 auto;
}
.align-middle{
	height: 100px;
	flex: 4 1 auto;
}
.align-bottom{
	
	align-self: flex-end;
}

.hero_header {
color: #FFFFFF;
}
.hero_image {
	height: 30vh;
	padding-right: 0px;
}
.light {
color: #555555;
}
.tagline {

}


/* Parallax Section */
section.banner, section.banner2, section.narration{
    height: 80vh;
    color: #FFFFFF;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    /*padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;*/
    padding: 5vh 2em 0px 2em;
	margin-bottom: 5vh;
	background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}

/* Icons */
.keyItem{
	padding: 0 2em 0 2em;
}
img.mediumIcon {
max-height: 20px;
width:  auto;
vertical-align: middle;
}


.Aldi {
	position: relative;
	left: 172px;
	top:  410px;
}

/* Background Images */
.livingroom {
    background-image: url(../images/bg_livingroom02.png);
}
.livingroom-blur {
    background-image: url(../images/bg_livingroom02_blur.png);
}
.grocery-blur {
	background-image: url(../images/bg_grocery01_blur.png);	
}
.grocery {
	background-image: url(../images/bg_grocery01.png);	
}
.banner-shopping{
	background-image: url(../images/bg_shopping.png);
}
.schedulingBackground{
	background-image: url(../images/bg_scheduling.png);
}
.dentist-blur{
	background-image: url(../images/bg_dentist01_blur.png);
}
.intro-fridge{
	background-image: url(../images/intro_fridge.png)
}
.intro-calc{
	background-image: url(../images/intro_calc.png)
}
.intro-science{
	background-image: url(../images/intro_science.png)
}
.intro-lobby{
	background-image: url(../images/intro_lobby.png)
}
.disclosures{
	background-image: url(../images/MedicaidMadeUsPutThisInHere.png)
}

/* Other */
.parallax {
    color: #FFFFFF;
    text-align: left;
}
.parallax_description {
    color: #FFFFFF;
    text-align: left;
    float: left;
    font-weight: lighter;
}
.map-description{
	width: 100%;
	flex: 0 1 auto;
	/*padding: 2%;*/
	display: flex;
	flex-flow: row;
	justify-content: left;
}
a {
	cursor: pointer;
}

.highlight {
	fill:  dodgerblue;
    display: none;
}

.hidden {
	display: none;
}

/*Dentist Map*/
#dentistMapContainer{
	width: 50%;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 0 20px 20px 0;
	overflow: hidden;
}
strong {
	font-weight: bold;
	line-height: 1.5em;
}
.dentist-list-header{
	border-bottom: thin solid black;
	height: 4em;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 2%;
}
#dentist-list-container{
	height: 66.3vh;
	position: relative;
	overflow-y: auto;
}
.dentist-list-item{
	height: 6em;
	background-color: rgba(0,0,0,0.25);
	padding: 10px;
	border-bottom: thin solid rgba(0, 0, 0, 0.25);
	/*overflow-x: auto;*/
}
#disclosures img{
	height: 10vh;
	width: auto;
}
.logos {
	height: 10vh;
	width: auto;
	background-image: url(../images/logos.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.placeHolderStats{
	background-image: url(../images/StatusIconslarge.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: right;
	height: 5vh;
	margin: 2vh;
}
.dentist-list-item h1{
	margin: 0px;
}
#dentist-description{
	display: flex;
	flex-flow:  column;
	height: 50vh;
}
#dentist-description-container{
	width: 50%;
	overflow: hidden; 
	position: relative;
	border-radius: 20px 0px 0px 20px; 
	background-color: rgba(0, 0, 0, 0.25);
}
.map-description-header{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	font-size:  1em;
	font-weight: bold;
	margin: 0px;
}
.map-description-header div{
	flex:  1 1 auto;
}
#map-description-container{
	overflow: hidden;
	padding: 0 0 0 2em;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}
.route-image{
	max-width: 20vw;
	max-height: 70vh;
}
.continue-to-store{
	text-align: center;
}
button{
	padding: 1em 2em;
	color: white;
	background-color: #59A5DB;
	border-radius: 15px;
	border: 4px solid rgba(0, 0, 0, 0);
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}
button:hover {
	background-color: #005A9C;
}



.Continue-Button {
	height: 3em;
}

.callContainer{
	width: 100%;
	height: 300px;
	flex: 0 1 auto;
	background-color: black;
}

.callbutton{
	padding: 0.5em 1em;
	color: white;
	background-color: #59A5DB;
	border-radius: 15px;
	border: 4px solid rgba(0, 0, 0, 0);
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	margin:  0 1em;
	cursor: pointer;
}

.callbutton:hover {
	border-color: #005A9C;
}

#callVid{
	height: 300px;
}

.subContainer {
	height: 100%;
	position: relative;
	left: -100vw;
}

#shoppingspreeContainer {
	position: relative;
	height: 50%;
	left: 100vw;
	top: -100%;
}
.shoppingspree-subcontainer {
	display: flex;
	flex-flow: row;
	width:  100%;
	height: 70vh;
}
.shoppingspree-subcontainer div{
	width: 200px;
	flex:  1 1 auto;
}
.panel {
	display:  flex;
	flex-flow: column;
	padding: 1em;
}

.panel img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.aisleColumn{
	display: flex;
	flex-flow: column;
	width: 50%;
}

.aisleItem{
	padding: 0 1em;
	border: thin solid gray;
	display: none;
	background-color: rgba(0, 0, 0, 0.75);
	flex: 0 1 auto;
	font-size: small;
}

shoppingspreeIcons {
	float:  left;
	text-align: left;
	margin-left: 25px;
	height: 100%;
	overflow-y: hidden;
}
shoppingspreeIcons ul {
	list-style: none;
	float: left;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row;
	justify-content: center;
}
shoppingspreeIcons ul li{
	float: left;
	margin-left: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	align-self: center;
	border-radius: 20px;
}
shoppingspreeIcons img.mediumIcon{
	max-height: 30px;
	height: 6vh;
	padding: 1em;
}

.shoppinglistContainer {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.svgbutton {
	cursor: pointer;
	fill: rgba(0, 0, 0, 0);
	stroke:#59a5db;
	stroke-miterlimit:10;
	stroke-width:2px;
	opacity: 0;
}
.svgbutton:hover {
	opacity: 1;
}

.checkoutprice{
	text-align: right;
	padding:  0 2em;
	flex: 1 0 auto;
}

.checkoutlistcontainer{
	/*margin: 1em 2em;*/
	border:  thin solid gray;
	/*padding: 1em;*/
	width: 40vw;
	align-self: center;
}

.checkoutbutton{
	margin: 0.5em;
	padding: 0.2em 1em;
}

.narrationInner{
	justify-content: center;
	padding: 0 5vw;
	height: 100%;
	width: 40vw;
}

.selectedButton {
	background-color: gray;
}
.selectedButton:hover {
	background-color: #005A9C;
}